body {
    background-color: #f6fafc;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 400;
    color: #222323;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
}


p {
    font-family: 'Newsreader', serif;
    font-size: 1.3rem;
}

#card-center {
    background-color: #f6fafc;
    padding: 1rem;
    border-radius: 4px;
}

#card-center em {
    font-size: 1.2em;
    color: #FF4588;
}

#card-left {
    background-color: #bfddf0;
    margin-left: -32rem;
    padding: 1rem;
    border-radius: 4px;
    max-width: 300px;
}

#card-right {
    background-color: #f9e198;
    margin-right: -32rem;
    padding: 1rem;
    border-radius: 4px;
    max-width: 300px;
}

#card-left,
#card-center,
#card-right {
    border: 2px #222323 solid;
}

iframe {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

/* SCROLLY STUFF */
#scrolly {
    margin: 0;
    margin-top: 10rem;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    background-color: #f6fafc;
}

article {
    position: relative;
    padding: 0;
    max-width: 20rem;
    margin: 0 auto;
}

figure {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
    margin: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 0;
    align-self: center;
    justify-content: center;

}

figure img {
    height: 100vh;
    width: auto;
    justify-content: center;
    align-self: center;
    z-index: 0;
    margin: 0;
    margin-top: -15rem;
}

.step {
    margin: 0 auto 40rem auto;
    color: rgb(42, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;
}

.step:last-child {
    margin-bottom: 30rem;
}

.step p {
    margin: 1rem;
    font-size: 1.1rem;
    max-width: 500px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

main {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    margin-bottom: 20rem;
}

#intro {
    max-width: 40vw;
    justify-content: center;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
}

#intro h1 {
    font-size: 4rem;
}

#intro img {
    width: 150%;
    margin-left: -25%;
    margin-bottom: 15vh;
}

#conclusion {
    background-color: #65737a;
    color: #f6fafc;
}

#conclusion-body {
    max-width: 40vw;
    justify-content: center;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;

}

a {
    color: #bfddf0;
}

a:visited {
    color: #6dc7ff;
}